/* PAGE SETTINGS 
================ */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1em;
}

.container-fluid {
	max-width: 1440px;
}
/* HEADER
========= */

header {
	background-image: url('../images/bg-hero-desktop.svg');
	background-size: cover;
}

.menu {
	display: flex;
	justify-content: space-between;
}
.btn-sign-up {
	width: 180px;
	height: 40px;
	border: none;
	border-radius: 30px;
	font-weight: bold;
}